<head>
  <title>{{site_name}}{{#page_title}} - {{page_title}}{{/page_title}}</title>
  <link href="./stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="./stylesheets/documentation.css" media="screen" rel="stylesheet" type="text/css" />
</head>