<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    {{>navigation}}

    <div class='container documentation-page'>
      <div id='content'>
        {{{content}}}
      </div>

      {{>footer}}
    </div>
  </body>
</html>
